<header class="top-header">
  <nav class="navbar header-nav navbar-expand-lg">
      <div class="container">
          <a class="navbar-brand" href="index.html"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsVJ33L7HuH0oUv7LZs80R5JzDSefVZz3CfA&usqp=CAU" alt="image" width="150"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
              <span></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
              <ul class="navbar-nav">
                  <li><a class="nav-link active" (click)="goContact()">Contact</a></li>
                  <li><a class="nav-link" (click)="goLogin()">Connexion</a></li>



              </ul>
          </div>
      </div>
  </nav>
</header>
<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Welcome</h3>
      <p>if you have an account click to login</p>
      <input type="submit" name="" value="Login" (click)="goLogin()" /><br />
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Apply as a User</h3>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row register-form">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder=" Name *" name="nom" formControlName="nom"
                  value="" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="lastName *" name="prenom" formControlName="prenom" value="" />
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password *" name="password" formControlName="password" value="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Your Email *" name="email" formControlName="email" value="" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Tel*" name="tel" formControlName="tel" value="" />
              </div>
              <input type="submit" class="btnRegister" value="Register" />
            </div>
          </div>
        </form>
        </div>

