<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3 style="color:red" *ngIf="cars?.length==0">il faut que vous avez aux moin une voiture</h3>
<div *ngIf="cars?.length>0">
  <div class="border border-0" >
    <h1 class="text-center">creez une reclamation</h1>
  <div class="row " style="margin-top: 3%;">
    <div class="col">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="repartition" formControlName="repartition">
        <label class="form-check-label" for="flexSwitchCheckDefault">repartition</label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="desinstallation" formControlName="desinstallation">
        <label class="form-check-label" for="flexSwitchCheckChecked">desinstallation</label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled"  name="reinstallation" formControlName="reinstallation">
        <label class="form-check-label" for="flexSwitchCheckDisabled">reinstallation</label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" name="nouvelinstallation" formControlName="nouvelinstallation" >
        <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">nouvelinstallation</label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" name="option" formControlName="option" >
        <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">option</label>
      </div>
    </div>
    <div class="col">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled"  name="sim" formControlName="sim">
        <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">sim</label>
      </div>
    </div>
  </div>
  <label for="car_id" style="margin-top: 3%;">Choisir Une Voiture:</label>
<select class="form-select" name="car_id" formControlName="car_id">

  <option *ngFor="let car of cars" [value]="car.id"> {{car.matricule}}</option>
</select>
</div>

<input type="submit" value="Creez une reclamation" class="btn btn-primary d-flex justify-content-center" style="margin-left:33%;margin-top: 3%;"/>
</div>

</form>
